@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import "./Vars.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  color: $font;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: $background;

  #root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 10rem;
    color: $header;
  }
}