@import '../../Vars.scss';

.project-name {
  display: flex;
  justify-content: center;
  align-items: baseline;

  p {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.project {
  background: $project;
  position: relative;
  height: 100%;
}

.project-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $project-container;
  // padding: 0 5%;
  overflow: hidden;
}

.circle {
  border: 3px solid $circle;
  border-radius: 50%;
}

.border {
  border: 1px solid $border;
}